	th.sectiontableheader {
		padding: 8px 5px;
		background: #444444;
		border-right: 1px solid #fff;
		color: #FFFFFF;
	}

	tr.sectiontableentry td {
		padding: 8px 5px;
		background-color:  #FFF;
		border-bottom: 1px solid #ddd;	
	}

	tr.sectiontableentry:hover td {
		background-color: #FEF;
		border-bottom: 1px solid #ccc;		
	}

	.testo{
		font-size: 90%;
	}

	.indice{
		margin-top:20px;float:left;
		text-decoration: none;
		padding: .2em .5em;
		background-color: #fff;
		border: 1px solid;
		border-color: #ddd;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		padding:5px;
		font-size:12px;
	}

	.cse .gsc-tabHeader.gsc-tabhActive,
	.gsc-tabHeader.gsc-tabhActive {
	  display:none !important;
	}

	.cse .gsc-tabsArea,
	.gsc-tabsArea {
	  display:none !important;
	}
	
     #search_control  {
		 margin: 2px !important;
		 text-align: center !important;
		 font-size:80% !important;
		 text-decoration: none !important;
     }	

	a.gsc-trailing-more-results:link {
	  display : none !important;
	}
	.cse .gsc-resultsHeader,
	.gsc-resultsHeader {
	  margin-bottom: 12px !important;
	  border:none !important;
	  display:none !important;
	}


	.cse .gsc-results,
	.gsc-results {
	  width: 580px !important;
	}
	

	.gsc-results  img{
	  -moz-box-shadow:2px 2px 6px #666;
	  -webkit-box-shadow:2px 2px 6px #666;	
	}
		
      .gsc-control {
        width : 600px !important;
      }

      .gsc-tabsArea {
        margin-bottom : 5px !important;
      }


	.cse .gsc-cursor-box,
	.gsc-cursor-box {
	  border-top: 0px dotted !important;
	  border-color: #004080 !important;
	  padding-top: 1.5em !important;
	  text-align: center !important;
	  font-size:12px !important;
	}

	.cse .gsc-cursor-page,
	.gsc-cursor-page {
	  text-decoration: none !important;
	  padding: .2em .5em !important;
	  background-color: #fff !important;
	  border: 1px solid !important;
	  border-color: #ddd !important;
	  -moz-border-radius: 4px !important;
	  -webkit-border-radius: 4px !important;  
	  padding:5px !important;
	  font-size:12px !important;
	}

	.cse .gsc-results .gsc-cursor-page.gsc-cursor-current-page,
	.gsc-results .gsc-cursor-page.gsc-cursor-current-page {
	  color: #fff !important;
	  text-shadow: 0px 1px 1px #fff; !important;
	  text-shadow: 0 1px 2px #fff !important;
	  background-color: #004080 !important;
	  padding:5px !important;
	  font-size:12px !important;
	}	  
	  
	.cse div.gs-title,
	div.gs-title,
	.cse .gs-snippet,
	.gs-snippet,
	.cse .gs-size,
	.gs-size,	
	.cse .gs-visibleUrl,
	.gs-visibleUrl,
	.cse .gs-visibleUrl-short,
	.gs-visibleUrl-short {
	  padding: 0 18px !important;
	  width: 600px !important;
	  display : none !important;	   
	}
	  
     #search_control img {
		max-height: 75px !important;
		max-width: 100px !important;
		padding:3px !important;
		border: 0px solid #ccc !important;
     }	
	  
	table.gsc-search-box {
	  margin-bottom : 20px  !important;
	}
	
