a.close_fullscreen{
	position: fixed;
	right:15px;
	top:15px;
	z-index:800;
}

#thumb-tray{
	position:absolute;
}

 #fuertecontainer{
	overflow:hidden;
}

body{
	padding:0;
	margin:0;
	border:0;
}

body > h1{
	margin:0;
}