html {
	font-size: 12px;
	font-weight: normal;
	letterSpacing: 1px;
	leading: 4px;
	color: #FFFFFF;
}
h1 {
	font-size: 28px;
}

.author {
	color: #33CC62;
	leading: 10px;
	text-decoration: underline;
}

a:link {
	color: #33CC62;
	text-decoration: none;
	margin-left: 0;
	font-weight: normal;
}
a:hover {
	color: #33CC62;
	text-decoration: underline;
}