input.selext {
	margin: 5px 0;
	text-align: center;
}

html[dir="ltr"] input.selext {
	border-right: none;
}

html[dir="rtl"] input.selext {
	border-left: none;
}

select.selext {
}

/*migration_changes
	relace css for google button
*/

/*.ozio-buttons-frame {*/
/*	height: 22px;*/
/*	border-radius: 10px;*/
/*	border: 1px solid #E0E0E0;*/
/*	display: inline-block;*/
/*	padding-right: 5px;*/
/*	margin-left: 8px;*/
/*	vertical-align: middle;*/
/*}*/



.ozio-buttons-frame {
	height: auto;
	width: auto;
	position: absolute;
	display: inline-block;
	padding-right: 5px;
	margin-left: 8px;
	vertical-align: middle;
}



.ozio-buttons-frame div:hover {
	filter:alpha(opacity=100);
	-khtml-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}

.ozio-buttons-frame div {
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 3px;
	margin-left: 10px;
	margin-right: 4px;
	margin-top: 3px;
	cursor: pointer;
	height: 16px;
	width: 16px;
	filter:alpha(opacity=60);
	-khtml-opacity: 0.6;
	-moz-opacity:0.6;
	opacity: 0.6;
}

#ozio-button-getid {
	background-image: url('media/login-16.png');
}

#jform_params_gallery_id{
    display: inline-block !important;
}
